global-exclude *.pyc
recursive-include *.py
include bdae/web/index.html
include bdae/web/static/custom.js
include bdae/web/static/custom.css
include bdae/web/static/bootstrap.min.css
include bdae/web/static/bootstrap.min.js
include bdae/web/static/bootstrap-dialog.min.css
include bdae/web/static/bootstrap-dialog.min.js
include bdae/web/static/jumbotron-narrow.css
include bdae/web/static/glyphicons-halflings-regular.ttf
include bdae/web/docs/index.rst
include bdae/web/docs/absdatasetcollection.rst
include bdae/web/docs/libs.rst
include bdae/web/docs/libbdaemanager.rst
include bdae/web/docs/libbdaeadmin.rst
include bdae/web/docs/libbdaescientist.rst
include bdae/web/docs/Makefile
include bdae/web/docs/conf.py