.form-control {
    display: inline;
    width: auto;
}

.footer {
    margin-top : 40px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    margin-top: 0px;
}

.custom-button {
    height: 40px;
    line-height: 40px;
    padding: 20px;
    padding-top: 0px;
}