recursive-include bdae *.py
include bdae/web/index.html
include bdae/web/static/custom.js
include bdae/web/static/custom.css
include bdae/web/static/bootstrap.min.css
include bdae/web/static/bootstrap.min.js
include bdae/web/static/bootstrap-dialog.min.css
include bdae/web/static/bootstrap-dialog.min.js
include bdae/web/static/jumbotron-narrow.css
include bdae/web/static/glyphicons-halflings-regular.ttf
include bdae/web/docs/index.rst
include bdae/web/docs/configparser.rst
include bdae/web/docs/absdatasetcontext.rst
include bdae/web/docs/libbdaeadmin.rst
include bdae/web/docs/libbdaescientist.rst
include bdae/web/docs/Makefile